{%extends "base.html"%}
{%block content%}
<body>
{% if error  %}
    <h1  color="white"> That word is not allowed </h1>
    {%endif%} 
    {%if criteria%}
    <h1  color="white"> Searched results for {{criteria }} </h1>
    {% endif %}
    <div>
    <form method="POST" action="/search_database"> 
        <div class="form-group">
            <label for="exampleInputEmail1">Filter your timeline</label>
            <input type ="text" name= "criteria" /> <br>
            <small id="emailHelp" class="form-text text-muted"> Filter your timeline by tweet</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form method="GET" action="/loadtimeline"> 
        <label for="exampleInputEmail1">Refresh your timeline</label>
        <button type="submit" class="btn btn-primary">Refresh</button>
    </form>
    <form method="POST" action="/deletetweets">
        <label for="exampleInputEmail1">Delete(Clear) your timeline</label>
        <button type="submit" class="btn btn-primary">Clear</button>
    </form>
    {%if status %}
        <h1 color="white"> Records deleted </h1>
    {%endif%}
    </form>
    <form method="POST" action="/createtweet"> 
        Enter your screen name <input type ="text" name= "screen_name" />
        Enter your tweet <input type ="text" name= "tweet" />
        <button type="submit" class="btn btn-primary">Create Tweet</button>
    </form>
    </div>
    <table class="table table-dark">
    <thead class="thead-dark">
        <tr>
        <th> Modal</th>
        <th> IMG </th>
        <th> Screen Name </th>
        <th> Tweeted </th>
        <th> Created at </th>
        </tr>
    </thead>
    <tbody>
    {%for rec in records %} 
    <tr>
        <td> 
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal-vert-center-demo" data-name="{{rec[2]}}" data-id="{{rec[1]}}" data-tweet="{{rec[4]}}" data-created ="{{rec[3]}}" data-icon="{{rec[5]}}"   >
        Edit
        </button>
        </td>
        <td><img src="{{rec[5]}}" alt="PUSA-Icon"> </td>
        <td>{{rec[2]}}</td> 
        <td>{{rec[4]}}</td>
        <td>{{rec[3]}}</td>
    </tr>
    {%endfor%}
    </tbody>
    </table>
    <div class="container">
            <h3>Bootstrap 4 Modal</h3>
            <!-- Modal --> 
            <div class="modal fade" id="Modal-vert-center-demo" tabindex="-1" role="dialog" aria-labelledby="Modal-vert-center-demo-label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="Modal-vert-center-demo-label">Modal Tweet View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <div id="userIcon"> </div> 
                        <div id="tweetID"> </div>
                        <div id="Screen_Name"> </div>
                        <div id="tweet"></div>
                        <div id="created_at"> </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"> Edit </button>
                    <button type="button" onclick="call()" class="btn btn-warning"> Delete </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <script>
        $(document).ready(function() {
            $('#Modal-vert-center-demo').on('show.bs.modal', function(event) {
                console.log("show");
                tweetId = $(event.relatedTarget).data("id");
                name = $(event.relatedTarget).data("name");
                tweet = $(event.relatedTarget).data("tweet");
                created_at = $(event.relatedTarget).data("created");
                icon = $(event.relatedTarget).data("icon");
                $("#tweetID").html('Tweet ID: ' + tweetId);
                $("#Screen_Name").html('Screen Name: ' + name);
                $("#tweet").html('Tweeted: ' + tweet);
                $("#created_at").html('Created At: ' + created_at);
                $("#userIcon").html('<img src="' + icon + '" style="width: 64px; height: 64px">');
            });
            $('#Modal-vert-center-demo').on('shown.bs.modal', function () {
                $('#Modal-vert-center-demo').focus();
                console.log("shown");
            });
        });</script>
{%endblock%}
