<!doctype html>
<html lang="en">
<head>
    <title> Chirp Tracking App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
{% if error  %}
    <h1  color="white"> That word is not allowed </h1>
    {%endif%} 
    {%if criteria%}
    <h1  color="white"> Searched results for {{criteria }} </h1>
    {% endif %}
    <form method="POST" action="/search_database"> 
        <div class="form-group">
            <label for="exampleInputEmail1">Enter criteria </label>
            <input type ="text" name= "criteria" /> <br>
            <small id="emailHelp" class="form-text text-muted"> Help us filter tweets to your liking </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form method="GET" action="/loadtimeline"> 
    <button type="submit" class="btn btn-primary">Refresh</button>
    </form>
    <form method="POST" action="/deletetweets">
        <button type="submit" class="btn btn-primary">Clear</button>
    </form>
    {%if status %}
        <h1 color="white"> Records deleted </h1>
    {%endif%}
    </form>
    <form method="POST" action="/createtweet"> 
    Enter your screen name <input type ="text" name= "screen_name" />
    Enter your tweet <input type ="text" name= "tweet" />
    <button type="submit" class="btn btn-primary">Create Tweet</button>
    </form>
    <table class="table table-dark">
    <thead class="thead-dark">
        <tr>
        <th> IMG </th>
        <th> Screen Name </th>
        <th> Tweeted </th>
        <th> Created at </th>
        </tr>
    </thead>
    <tbody>
    {%for rec in records %} 
    <tr>
        <td class="text-center" data-toggle="modal" data-target="#modalAnime" data-id='{{ rec[0] }}' data-name='{{ rec[2] }}' data-genre='{{ rec[4] }}' data-type='{{ rec[3] }}' data-icon='{{rec[5]}}'><button type="submit" class="btn btn-info">View</button></td>
        <td><img src="{{rec[5]}}" alt="PUSA-Icon"> </td>
        <td>{{rec[2]}}</td> 
        <td>{{rec[4]}}</td>
        <td>{{rec[3]}}</td>
    </tr>
    {%endfor%}
    </tbody>
    </table>
      <!-- Modal -->
      <div class="modal fade" id="modalAnime" tabindex="-1" role="dialog" aria-labelledby="modalAnimeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAnimeLabel">Anime Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="animeId"></div>
                    <div id="animeName"></div>
                    <div id="animeGenre"></div>
                    <div id="animeType"></div>
                    <div id="#animeIcon"></div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#modalAnime').on('show.bs.modal', function(event) {
                console.log("show");
                animeId = $(event.relatedTarget).data("id");
                name = $(event.relatedTarget).data("name");
                genre = $(event.relatedTarget).data("genre");
                type = $(event.relatedTarget).data("type");
                icon = $(event.relatedTarget).data("icon");
                $("#animeId").html('Anime ID: ' + animeId);
                $("#animeName").html('Name: ' + name);
                $("#animeGenre").html('Genre: ' + genre);
                $("#animeType").html('Type: ' + type);
                $("#animeIcon").html('<img src="' + icon + '" style="width: 64px; height: 64px">');
            });
            $('#modalAnime').on('shown.bs.modal', function () {
                $('#modalAnime').focus();
                console.log("shown");
            });
        });
    </script>
</body>
</html>
