<!doctype html>
<html lang="en">
<head>
    <title> Chirp [IN DEVELOPMENT]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<a href="/timeline" > Click to go back to home page  </a>
<table class="table table-dark">
        <thead class="thead-dark">
            <tr>
            <th> IMG </th>
            <th> Screen Name </th>
            <th> Tweeted </th>
            <th> Created at </th>
            </tr>
        </thead>
        <tbody>
        {%for rec in records %} 
        <tr>
            <td><img src="{{rec[3]}}" alt="face"> </td>
            <td>{{rec[1]}}</td>
            <td>{{rec[2]}}</td> 
            <td>{{rec[0]}}</td>
            <td>{{rec[ ]}}</td> 
        </tr>
        {%endfor%}
        </tbody>
        </table>
        </body>
    </html>
